body {
    background-image: url(../img/FOND.png);
    font-family: "Inter";
}


img{
    width: 1.2em;
    height: 1.2em;
    margin: auto 0;
}

.titre{
    font-size: 1.5em;
    margin: 7.5vh 12.5vw;
}

table{
    width: 60vw;
    margin: 0 auto;

}
th{
    text-align: left;
    font-size: 1.2em;
}

td{
    width: 15vw;
    font-size: 1em;
}


form{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 37.5vh;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3em;
    margin: 0 auto;
}


.conteneurNom{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}

.nom {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: space-between;
    height: 5vh;
}


.nom label {
    font-size: 2em;
    text-align: center;
    margin-right: 1vw;
}


.nom input {

    width: 35vw;
    height: 2em;

}
#nom{
    margin-right: 2.5vw;
}
.mail {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}

.mail input {
    width: 60vw;
    height: 2em;
}
.mail label {
    font-size: 2em;
    text-align: center;
    margin-right: 1.5vw;
}


.captcha{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 3vh auto;
}
#captcha {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;

    background-color: white;
    display: inline;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
    font-size: 2em;
    width: 14vw;
    min-width: 8em;
    margin: 0;
}
#captchaInput{
    height: 2em;
    width: 20vw;
}

#captchaRefresh{
    height: 2.5em;
    width: 5vw;
    margin-right: 2.5vw;
    border-radius: 10px;
    border: 0.5px solid black;
    font-size: 1em;
    font-weight: 500;

}


.invalidCaptcha {
    border: solid 2px red;
    border-radius: 3px;
}

.invalidCaptcha + span::after {
    content: "captcha invalide";
    color: red;
    font-size: 2em;
    font-style: italic;
    padding-left: 5px;
}

.validCaptcha {
    border: solid 2px green;
    border-radius: 3px;
}

.validCaptcha + span::after {
    content: "vérification réussie";
    color: green;
    font-size: 2em;
    font-style: italic;
    padding-left: 5px;
}
#captchaValidate {
    margin: 5vh auto;
    color: white;
    background-color: black;
    font-family: "Inter";
    font-style: Bold;
    font-size: x-large;
    line-height: 18px;
    line-height: 100%;
    text-transform: uppercase;
    padding:0.5em 1em;
    border-radius: 10px;
    width:20vw ;
}

.header{
    margin: 7.5vh 12.5vw;
}