body{
    margin: 0 auto;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #111;
}
nav{
    width: 100%;
    background-color: rgb(255, 20, 20);
    height: 40px;
    text-align: center;
    margin: 0 auto;
}
nav a{
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: bisque;
}
nav a:hover, a:active {
    background-color: rgb(3, 22, 83);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 40px;
  }
footer{
    width: 100%;
    background-color: rgb(61, 61, 61);
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0px;
}
main{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    background-color: #111;
}
p{
    margin: 0 auto;
    padding: 0;
    border:0;
}
.header{

    width: 100%;
    background-color: rgb(3, 22, 83);
    color: white;
    height: 50px;
    text-align: center;  
    position: sticky;
}
.header h1{
    line-height: 50px;
    font-size: 28px;
    margin:auto;
    letter-spacing: 10px;
}
.center{
    margin: 0 auto;
    text-align: center;
}
a{
    text-decoration: none;
    display: inline-block;
}
a:active{
    text-decoration: none;
}