/* BARRRE NAV */ 

nav {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    

}



a {
    text-decoration: none;
    list-style: none;
    color:rgb(255, 255, 255);
    font-size: 44px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.233);
    color: rgb(255, 255, 255);
}

/* CUISINE */

#sushi {
    background-image: url('https://zupimages.net/up/22/46/72p0.jpg');
    

}

#cuisine {

    background-color: rgb(255, 255, 255);   
font-size: 34px;
border-radius: 5px;
width: 1280px;
text-align: justify;
margin-left: 250px;
margin-right: 250px;
margin-top: 150px;
padding: 25px 25px 25px 25px;
border: solid black 3px;

}

#title {
    text-align: center;
}

/* VILLE */ 

#tokyo {
    background-image: url('https://zupimages.net/up/22/46/eol2.jpg');
    background-repeat: no-repeat;
}

#ville {
    background-color: azure;
    font-size: 28px;
    width: 1280px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    border: black solid 3px;
    
}

/* ANIMATION GENERALE */ 

.gradient-background {
    background: linear-gradient(63deg,white,#000000);
    background-size: 120% 120%;
    animation: gradient-animation 16s ease infinite;

}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* MANGA */ 


  #coverManga {
    background-image: url('https://zupimages.net/up/22/46/6ios.jpg');
    background-repeat: no-repeat;
  }

  #manga {
    background-color: azure;
    font-size: 28px;
    width: 1280px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    border: black solid 3px;
    padding: 5px 5px 5px 5px;
    text-align: justify;
  }

  /* PAYSAGE */ 

  #cerisier {
    background-image: url('https://zupimages.net/up/22/46/h3gt.jpg');
  }

  #paysage {
    background-color: azure;
    font-size: 28px;
    width: 1280px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    border: black solid 3px;
  }

  /* CULTURE */ 

  #statue {
    background-image: url('https://zupimages.net/up/22/46/5es9.jpg');
   
  }

  #culture {
    background-color: azure;
    font-size: 28px;
    width: 1280px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    border: black solid 3px;
    padding: 5px 5px 5px 5px;
    text-align: justify;
  }

  /* HISTOIRE */ 

  #histoire {
    background-image: url('https://zupimages.net/up/22/46/2195.jpg');
  }



  #accueil {
    animation-name: example;
    animation-duration: 5s;
    box-sizing: 250px;
    animation-iteration-count: 1;
    background-color: white;
    text-align: center;
    font-size: 34px;
  }

  @keyframes example {
    0%   {background-color: rgb(0, 0, 0);}
    25%  {background-color: rgb(255, 255, 255);}
    50%  {background-color: rgb(0, 0, 0);}
    100% {background-color: rgba(255, 255, 255, 0.521);}
    from {
        margin-left: 100%;
        width: 100%;
        
      }
    
      to {
        margin-left: 0%;
        width: 100%;
        
      }
}

#japon {
    background-image: url('https://zupimages.net/up/22/46/0sjx.jpg');
}
    #error {
    font-size: 56px;
    text-align: center;
}